@import '@angular/cdk/overlay-prebuilt.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #fce4db;
  background-color: #fff5f2;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23ffd7bc' fill-opacity='0.31'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}
