version: '3.6'

services:
  server:
    build: server
    environment:
      - DB_CONNECTION_STRING=postgresql://postgres:postgres@db:5432/postgres?sslmode=disable
    ports:
      - 4000:4000
    depends_on:
      - db
  db:
    image: postgres:15.3-alpine3.18
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    ports:
      - 5432:5432
    volumes:
      - db-data:/var/lib/postgresql/data
volumes:
  db-data:
